[Unit]
Description=Voyeur monitoring agent
Documentation=https://github.com/werks/voyeur-go

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStart=/usr/bin/voyeur daemon

[Install]
WantedBy=multi-user.target
